
@{
    ViewBag.Title = "Редактировать";
}

<h2>Редактировать</h2>
@Html.ActionLink("Редактировать характеристику времени ламинации", "ViewCharLamMach")<br />
@Html.ActionLink("Редактировать характеристику времени печати", "ViewCharPrintMach")<br />
@Html.ActionLink("Редактировать стоимость владения", "ViewCostOwner")<br />
@Html.ActionLink("Редактировать процент налога / прибыли", "ViewPercentTaxProf")<br />
@Html.ActionLink("Редактировать стоимость биговки", "ViewBigovka")<br />
@Html.ActionLink("Редактировать стоимость фальцовки", "ViewFaltsovka")<br />
@Html.ActionLink("Редактировать стоимость закругления углов", "ViewRoundAngle")<br />
@Html.ActionLink("Редактировать стоимость ламинации", "ViewCostLamin")<br />
@Html.ActionLink("Редактировать стоимость бумаги", "ViewCostPages")<br />
@Html.ActionLink("Редактировать стоимость тонера", "ViewCostToner")<br />

